/* globals.css */

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: silver;
  color: #333;
  line-height: 1.6;
}

/* Header and Navbar */
header {
  background-color: #0070f3;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

header nav {
  margin-top: 1rem;
}

header nav a {
  color: white;
  text-decoration: none;
  margin:0 3rem;
  font-size: 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

/* Section Styles */

section {
  padding: 4rem 2rem;
  margin: 5rem 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
  text-align: center

}
h2 {
  display: inline-block; /* Makes the heading behave like an inline element */
  border-bottom: 3px solid #3b82f6; /* Adds a solid blue line under the heading */
  padding-bottom: 10px; /* Space between the text and the line */
}


/* About Section */
#about p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 15px;
}
/* Style the logo */
.logo {
  border-color: #333;
  border-radius: 3;
}

/* Projects Section */
.projectList {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.projectItem {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 48%;
}

.projectItem h3 {
  font-size: 1.6rem;
  color: #0070f3;
  margin-bottom: 1rem;
}

.projectItem p {
  font-size: 1.1rem;
  color: #555;
}

/* Skills Section */
ul {
  list-style-type:disc;
}

ul li {
  font-size: 1.2rem;
  color: #555;
  margin: 0.5rem 0;
}

/* Experience Section */
.experience {
  background-color: #f4f4f4;
}

.experienceList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experienceItem {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.experienceItem h3 {
  font-size: 1.8rem;
  color: #0070f3;
}

.experienceItem p {
  font-size: 1.1rem;
  color: #555;
}

/* Contact Section */
#contact p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
}

/* Footer Section */
footer {
  background-color: #333;
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  margin-top: 4rem;
  border-radius: 8px;
}

footer p {
  margin-bottom: 1rem;
}

footer a {
  color: #0070f3;
  text-decoration: none;
  margin: 0 1rem;
}

footer a:hover {
  color: #00c1d4;
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  section {
    padding: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .projectItem {
    width: 100%;
  }

  .experienceItem h3,
  .projectItem h3 {
    font-size: 1.4rem;
  }

  .experienceItem p,
  .projectItem p {
    font-size: 1rem;
  }

  footer {
    padding: 1.5rem;
    font-size: 0.9rem;
  }

  footer a {
    font-size: 1rem;
    margin: 0 0.5rem;
  }
}
